sudo: required

addons:
  postgresql: 9.6
  apt:
    packages:
      - postgresql-contrib-9.6

services:
  - postgresql

language: python

python:
  - "2.7"

cache: pip

git:
  submodules: false

before_install:
  # Temporary so that we fail fast.
  # before_script:
  - psql -c 'create user simplified_test;' -U postgres
  - psql -c 'create database simplified_circulation_test;' -U postgres
  - psql -c 'grant all privileges on database simplified_circulation_test to simplified_test;' -U postgres

  # Access the submodule via https instead of default SSH
  - git config submodule.core.url https://github.com/NYPL-Simplified/server_core.git
  - git config submodule.docker.url https://github.com/NYPL-Simplified/circulation-docker.git
  - git submodule update --init --recursive

install:
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - python -m textblob.download_corpora

env:
  global:
    - SIMPLIFIED_TEST_DATABASE="postgres://simplified_test:test@localhost:5432/simplified_circulation_test"
    - SIMPLIFIED_ELASTICSEARCH_VERSION=1

script:
  - ./verbose-test
