sudo: required

addons:
  postgresql: "9.6"
  apt:
    packages:
      - postgresql-contrib-9.6
      - libxmlsec1-dev
      - libxml2-dev

services:
  - postgresql

language: python

python:
  - "3.6"

cache: pip

git:
  submodules: false

before_install:
  # Access the submodule via https instead of default SSH
  - git config submodule.core.url https://github.com/NYPL-Simplified/server_core.git
  - git config submodule.docker.url https://github.com/NYPL-Simplified/circulation-docker.git
  - git submodule update --init --recursive

install:
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - python -m textblob.download_corpora

before_script:
  - psql -c 'create user simplified_test;' -U postgres
  - psql -c 'create database simplified_circulation_test;' -U postgres
  - psql -c 'grant all privileges on database simplified_circulation_test to simplified_test;' -U postgres
  - cd docs && make html && cd ..

env:
  global:
    - SIMPLIFIED_TEST_DATABASE="postgres://simplified_test:test@localhost:5432/simplified_circulation_test"

script:
  - ./verbose-test

deploy:
  provider: pages
  skip_cleanup: true
  keep-history: true
  github_token: $GITHUB_TOKEN
  on:
    branch: main
  local_dir: docs/build/html/

