{
    "gutenberg_illustrated_binary_path" : "",
    "data_directory" : "",
    "policies" : {
    },
    "integrations" : {
        "Postgres" : {
            "test_url" : "postgres://simplified_test:test@localhost:5432/simplified_core_test"
        },
        "Content Server": {
        },
        "S3" : {
        }
    }
}
