{
    "gutenberg_illustrated_binary_path" : "",
    "data_directory" : "",
    "include_admin_interface": "true",
    "secret_key" : "use this: import os; os.urandom(24).encode('hex')",
    "policies" : {
    },
    "integrations" : {
    	"Postgres" : {
    	    "test_url" : "postgres://simplified_test:test@localhost:5432/simplified_circulation_test"
    	},

    	"Content Server": {
    	},
        
    	"S3" : {
        }
    }
}
