{
    "data_directory" : "",
    "include_admin_interface": "true",
    "secret_key" : "use this: import os; os.urandom(24).encode('hex')",
    "policies" : {
    },
    "integrations" : {
    	"Postgres" : {
    	    "test_url" : "postgres://simplified_test:test@localhost:5432/simplified_circulation_test"
    	},

        "Circulation Manager": {
          "url" : ""
        },

    	"Content Server": {
    	},
        
    	"S3" : {
        }, 

        "OneClick" : {
            "username" : "app-agent-username",
            "password" : "app-agent-pwd",
            "library_id" : "participating-library-id",
            "remote_stage" : "qa", 
            "url" : "https://api.provider.com/", 
            "basic_token" : "abc-def-ghi", 
            "ebook_loan_length" : "integer-number-days", 
            "eaudio_loan_length" : "integer-number-days"
        }

    }
}
