version: '3.8'

services:

  database:
    container_name: cm_local_db
    build:
      context: .
      target: cm_local_db
    volumes:
      - cm_local_dbdata:/var/lib/postgresql/data
    ports:
      - "5434:5434"
    environment:
      - PGPORT=5434

  elasticsearch:
    # Use the latest version of Elasticsearch supported by Amazon AWS ES.
    container_name: cm_local_es
    image: docker.elastic.co/elasticsearch/elasticsearch:6.7.2
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    command: >
      /bin/sh -c "./bin/elasticsearch-plugin list | grep -q analysis-icu 
      || ./bin/elasticsearch-plugin install analysis-icu; tail -f /dev/null"

  scripts:
    container_name: cm_local_scripts
    depends_on:
      - database
      - elasticsearch
    build:
      context: .
      target: cm_scripts_local
    environment:
      SIMPLIFIED_PRODUCTION_DATABASE: postgres://simplified:simplified@cm_local_db:5434/simplified_circulation_dev
    volumes:
      - "cm_local_script_logs:/var/log/simplified"
      - type: bind
        source: .
        target: /home/simplified/circulation
        read_only: true

  webapp:
    container_name: cm_local_webapp
    depends_on:
      - database
      - elasticsearch
      - scripts
    build:
      context: .
      target: cm_webapp_local
    environment:
      SIMPLIFIED_PRODUCTION_DATABASE: postgres://simplified:simplified@cm_local_db:5434/simplified_circulation_dev
    ports:
      - 80:80
    volumes:
      - "cm_local_uwsgi_log:/var/log/uwsgi"
      - type: bind
        source: .
        target: /home/simplified/circulation
        read_only: true

volumes:
  cm_local_dbdata:
  cm_local_uwsgi_log:
  cm_local_script_logs: