version: '3.9'

services:

  database:
    container_name: cm_active_db
    build:
      context: .
      target: cm_local_db
    ports:
      - "5434:5434"
    environment:
      - PGPORT=5434

  elasticsearch:
    # Use the latest version of Elasticsearch supported by Amazon AWS ES.
    container_name: cm_active_es
    image: docker.elastic.co/elasticsearch/elasticsearch:6.7.2
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    command: >
      /bin/sh -c "./bin/elasticsearch-plugin list | grep -q analysis-icu 
      || ./bin/elasticsearch-plugin install analysis-icu; tail -f /dev/null"

  minio:
    container_name: minio
    image: bitnami/minio:latest
    environment:
      MINIO_ROOT_USER: simplified
      MINIO_ROOT_PASSWORD: 12345678901234567890
    ports:
      - "9000:9000"
      - "9001:9001"

  scripts:
    container_name: cm_active_scripts
    depends_on:
      - database
      - elasticsearch
    build:
      context: .
      target: cm_scripts_active
      labels:
        - "com.nypl.docker.imagename=circ_manager_scripts"
    environment:
      SIMPLIFIED_PRODUCTION_DATABASE: postgresql://simplified:simplified@cm_active_db:5434/simplified_circulation_dev
      SIMPLIFIED_TEST_DATABASE: postgresql://simplified_test:simplified_test@cm_active_db:5434/simplified_circulation_test

  webapp:
    container_name: cm_active_webapp
    depends_on:
      - database
      - elasticsearch
      - minio
    build:
      context: .
      target: cm_webapp_active
      labels:
        - "com.nypl.docker.imagename=circ_manager_webapp"
    environment:
      SIMPLIFIED_PRODUCTION_DATABASE: postgresql://simplified:simplified@cm_active_db:5434/simplified_circulation_dev
      SIMPLIFIED_TEST_DATABASE: postgresql://simplified_test:simplified_test@cm_active_db:5434/simplified_circulation_test
      SIMPLIFIED_TEST_ELASTICSEARCH: http://cm_local_es:9200
      SIMPLIFIED_TEST_MINIO_ENDPOINT_URL: http://minio:9000
      SIMPLIFIED_TEST_MINIO_USER: simplified
      SIMPLIFIED_TEST_MINIO_PASSWORD: 12345678901234567890
    ports:
      - 80:80
