version: '3.7'

services:
  database:
    container_name: cm_local_db
    build:
      context: .
      target: cm_local_db
    volumes:
      - cm_local_dbdata:/var/lib/postgresql/data
    ports:
      - "5434:5434"
    environment:
      - PGPORT=5434

  elasticsearch:
    # Use the latest version of Elasticsearch supported by Amazon AWS ES.
    container_name: cm_local_es
    image: bitnami/elasticsearch:6.7.2
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - ELASTICSEARCH_HEAP_SIZE=512m
      - ELASTICSEARCH_PLUGINS=analysis-icu
    volumes:
      - cm_local_esdata:/bitnami/elasticsearch/data

  minio:
    container_name: minio
    image: bitnami/minio:latest
    environment:
      MINIO_ROOT_USER: simplified
      MINIO_ROOT_PASSWORD: 12345678901234567890
    ports:
      - "9000:9000"
      - "9001:9001"

  scripts:
    container_name: cm_local_scripts
    depends_on:
      - database
      - elasticsearch
    build:
      context: .
      target: cm_scripts_local
    environment:
      NEW_RELIC_APP_NAME: Circulation Manager (TEST)
      NEW_RELIC_MONITOR_MODE: false
      NEW_RELIC_CONFIG_FILE: /home/simplified/circulation/newrelic.ini
      NEW_RELIC_ENVIRONMENT: local
      NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY}
      SIMPLIFIED_PRODUCTION_DATABASE: postgresql://simplified:simplified@cm_local_db:5434/simplified_circulation_dev
      SIMPLIFIED_TEST_DATABASE: postgresql://simplified_test:simplified_test@cm_local_db:5434/simplified_circulation_test
      SIMPLIFIED_ELASTICSEARCH_URL: http://cm_local_es:9200
    volumes:
      - "cm_local_script_logs:/var/log/simplified"
      - type: bind
        source: .
        target: /home/simplified/circulation
        read_only: true

  webapp:
    container_name: cm_local_webapp
    depends_on:
      - database
      - elasticsearch
      - minio
    build:
      context: .
      target: cm_webapp_local
    environment:
      NEW_RELIC_APP_NAME: Circulation Manager (TEST)
      NEW_RELIC_MONITOR_MODE: false
      NEW_RELIC_CONFIG_FILE: /home/simplified/circulation/newrelic.ini
      NEW_RELIC_ENVIRONMENT: local
      NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY}
      SIMPLIFIED_PRODUCTION_DATABASE: postgresql://simplified:simplified@cm_local_db:5434/simplified_circulation_dev
      SIMPLIFIED_TEST_DATABASE: postgresql://simplified_test:simplified_test@cm_local_db:5434/simplified_circulation_test
      SIMPLIFIED_ELASTICSEARCH_URL: http://cm_local_es:9200
      SIMPLIFIED_TEST_ELASTICSEARCH: http://cm_local_es:9200
      SIMPLIFIED_TEST_MINIO_ENDPOINT_URL: http://minio:9000
      SIMPLIFIED_TEST_MINIO_USER: simplified
      SIMPLIFIED_TEST_MINIO_PASSWORD: 12345678901234567890
    ports:
      - 80:80
    volumes:
      - "cm_local_gunicorn_log:/var/log/gunicorn"
      - type: bind
        source: .
        target: /home/simplified/circulation
        read_only: true

volumes:
  cm_local_dbdata:
  cm_local_gunicorn_log:
  cm_local_script_logs:
  cm_local_esdata:
