# Requirements for core
feedparser
pillow
psycopg2
requests>=2.18.4
sqlalchemy>=1.2.0
nose
lxml
flask
isbnlib
tinys3>=0.1.12
textblob
rdflib
elasticsearch==2.1.0
python-dateutil
uwsgi
loggly-python-handler
cairosvg==1.0.22
mock
py-bcrypt
Flask-Babel
money

# for author name manipulations
nameparser>=0.5.1
fuzzywuzzy

