# These requirements are missing the psycopg2 package whose installation
# is complicated by having two versions (psycopg2-binary and psycopg2)
# See https://github.com/psycopg/psycopg2/issues/674
# and https://www.psycopg.org/articles/2018/02/08/psycopg-274-released/
# 
# This file lists all the requirements except for the psycopg2 requirement
# which is specified separately in requirements.txt and requirements-dev.txt
# 
apispec==5.1.1
apispec-webframeworks==0.5.2
Babel==2.8.0
boto3==1.23.2
botocore==1.26.2
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==8.1.3
contextlib2==21.6.0
cryptography==37.0.2
# defusedxml is required for SAML authentication
defusedxml==0.7.1
# docker is used for the LCP feature.
docker==5.0.3
docutils==0.18.1
elasticsearch==6.8.2
elasticsearch-dsl==6.4.0
enum34==1.1.10
expiringdict==1.2.1
feedparser==6.0.2
Flask==2.1.2
Flask-Babel==2.0.0
Flask-Cors==3.0.10
flask-sqlalchemy-session==1.1
flask-swagger-ui==4.11.1
# freezegun is used for unit tests.
freezegun==1.2.1
# fuzzywuzzy is for author name manipulations
fuzzywuzzy==0.18.0
html-sanitizer==1.9.3
httplib2==0.20.4
idna==2.10
imagesize==1.2.0
ipaddress==1.0.23
isbnlib==3.10.10
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==3.2.0
loggly-python-handler==1.0.1
lxml==4.6.5
markupsafe==2.1.1
money==1.3.0
multipledispatch==0.6.0
# nameparser is for author name manipulations
nameparser==1.1.1
# ndg-httpsclient ensures we support SNI-based SSL
ndg-httpsclient==0.5.1
# newrelic is an NYPL-sepcific requirement that might be removeable.
newrelic==7.14.0.177
# nltk is a textblob dependency.
nltk==3.7
oauth2client==4.1.3
packaging==21.3
Pillow==9.1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
py-bcrypt==0.4
pycparser==2.20
pycryptodome==3.9.8
# pyfakefs is used for unit tests.
pyfakefs==3.7
Pygments==2.7.4
PyJWT==2.4.0
PyLD==1.0.5
pymarc==4.0.0
pyparsing==2.4.7
pypostalcode==0.3.6
pyOpenSSL==19.1.0
pyspellchecker==0.5.5
pytz==2021.3
python-dateutil==2.8.2
# TODO: python-Levenshtein is supposedly required for author name
# matching, but is not a core requirement; perhaps it can be removed.
python-Levenshtein==0.12.2
pyrsistent==0.16.1
# python-saml is required for SAML authentication
python3-saml==1.14.0
requests==2.27.1
requests-futures==1.0.0
# requests-mock is used for unit tests.
requests-mock==1.8.0
rfc3987==1.3.8
# rsa is an oauth2client dependency. 4.3 is the last version to support Python 2.
rsa==4.3
s3transfer==0.5.2
singledispatch==3.4.0.3
snowballstemmer==2.0.0
soupsieve==1.9.6
# Sphinx is for code documentation
Sphinx==5.0.0b1
sphinxcontrib-websupport==1.2.4
SQLAlchemy==1.4.36
strict-rfc3339==0.7
textblob==0.15.3
typing==3.7.4.3
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.9
uszipcode==1.0.1
# watchtower is for Cloudwatch logging integration
watchtower==0.8.0
wcag-contrast-ratio==0.9
websocket-client==0.57.0
Werkzeug==2.0.3
# xmlsec is required for SAML authentication
xmlsec==1.3.12

# Theses dependencies are only used in our tests. Ideally they would get moved out to
# the dev requirements file, but the mock classes for our tests are included alongside
# the production classes, so these have to be installed all the time for now.
coverage==6.2
mock==3.0.5
parameterized==0.8.1
pytest<7.0
