# Core requirements
boto3
elasticsearch>6.0.0,<7.0.0
elasticsearch-dsl>6.0.0,<7.0.0
pillow
psycopg2
requests==2.20.0
urllib3<1.24 # Travis problem introduced 20181016 - check to see when we can remove
sqlalchemy==1.2.0
flask-sqlalchemy-session
lxml
flask>1.0.1
werkzeug
isbnlib
nose
python-dateutil
uwsgi
loggly-python-handler
mock
py-bcrypt
pyspellchecker
money
pymarc
accept-types
unicodecsv
uszipcode
pypostalcode
watchtower # for cloudwatch logging
sphinx # for code documentation

# Ensure that we support SNI-based SSL
ndg-httpsclient

# In circ, feedparser is only used in tests. 6.0.0 drops support for Python 2.
feedparser<=6.0.0

# Flask-Babel 2.0.0 drops support for Python 2.
# https://github.com/python-babel/flask-babel/commit/52dbb6f632e07ceb7299bf8c41b6f691a36e9fe3#diff-2eeaed663bd0d25b7e608891384b7298
Flask-Babel<2.0

# nltk is a textblob dependency, and this is the last release that supports Python 2
nltk==3.4.5

# rsa is an oauth2client dependency. This is the last version to support Python 2.
rsa==4.3

# TODO: This is only used for summary evaluation, which I think should
# only happen in the metadata wrangler, so it should be possible to move
# it out of core.
textblob

# Used only by circulation
oauth2client
pyjwt==1.4.2
flask-cors
PyLD==0.7.3
pycryptodome
wcag-contrast-ratio
uritemplate
html-sanitizer
expiringdict

# A NYPL-specific requirement
newrelic

# for author name manipulations
nameparser
fuzzywuzzy
python-Levenshtein

# For SAML authentication
python-saml
isodate
defusedxml
xmlsec
parameterized
freezegun

# For the LCP feature
docker
pyfakefs==3.7
requests-mock
