# Requirements for core
boto3
# feedparser 6.0.0 drops support for Python 2.
feedparser<6.0.0
pillow
psycopg2
requests>=2.18.4
sqlalchemy>=1.2.0
nose
parameterized
mock>=3.0.5
lxml
flask
isbnlib
rdflib
pyspellchecker
enum34

elasticsearch>6.0.0,<7.0.0
elasticsearch-dsl>6.0.0,<7.0.0

python-dateutil
uwsgi
loggly-python-handler
py-bcrypt
Flask-Babel
money
pymarc

# nltk is a textblob dependency, and this is the last release that supports Python 2
nltk==3.4.5
textblob

# for author name manipulations
nameparser>=0.5.1
fuzzywuzzy

# for cloudwatch logs integration
watchtower
