version: '3.6'
services:
  db:
    image: "postgres:12.0-alpine"
    environment:
      POSTGRES_PASSWORD: "password"
      POSTGRES_USER: "simplified"
      POSTGRES_DB: "simplified_circulation_dev"
    ports:
      - 5432:5432/tcp
    volumes:
      - "dbdata:/var/lib/postgresql/data"
  es:
    # Use the latest version of Elasticsearch supported by Amazon AWS ES.
    image: docker.elastic.co/elasticsearch/elasticsearch:6.7.2
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    command: >
      /bin/sh -c "./bin/elasticsearch-plugin list | grep -q analysis-icu 
      || ./bin/elasticsearch-plugin install analysis-icu; tail -f /dev/null"
  webapp:
    build:
      context: .
      dockerfile: Dockerfile.webapp
      args:
        - version
    environment:
      UWSGI_PROCESSES: 6
      UWSGI_THREADS: 2
      SIMPLIFIED_PRODUCTION_DATABASE: postgres://simplified:password@db:5432/simplified_circulation_dev
    ports:
      - 80:80
    depends_on:
      - db
      - es
    volumes:
      - "uwsgi_log:/var/log/uwsgi"
  scripts:
    build:
      context: .
      dockerfile: Dockerfile.scripts
      args:
        - version
    environment:
      SIMPLIFIED_PRODUCTION_DATABASE: postgres://simplified:password@db:5432/simplified_circulation_dev
    depends_on:
      - db
    volumes:
      - "script_logs:/var/log/simplified"

volumes:
  dbdata:
  uwsgi_log:
  script_logs: