name: Test Circulation
on: [push, pull_request]

jobs:
  test-circulation:
    name: Run Circulation Tests
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
    # We want to run on external PRs, but not on our own internal PRs as they'll be run
    # by the push to the branch. This prevents duplicated runs on internal PRs.
    # Some discussion of this here: 
    # https://github.community/t/duplicate-checks-on-push-and-pull-request-simultaneous-event/18012
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
  
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Apt Packages
        run: |
          sudo apt-get update
          sudo apt-get install --yes libfreetype libjpeg-dev libxmlsec1-dev libxml2-dev libxmlsec1-openssl

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install tox tox-gh-actions tox-docker
          
      - name: Run Tests
        run: |
          export SIMPLIFIED_STATIC_DIR="$(pwd)/resources"
          tox

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml
          verbose: true

      - name: Upload Cover Image Artifacts
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: cover-images
          path: test_images/*
